<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    {{ site.author.name }} &middot; {{ page.title }}
  </title>

  <link rel="stylesheet" href="{{ site.baseurl }}/styles.css">
  <link rel="shortcut icon" type="image/svg+xml" href="{{ site.baseurl }}/public/icon.svg">
  <link rel="apple-touch-icon" type="image/svg+xml" href="{{ site.baseurl }}/public/icon.svg">
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.baseurl }}/blog/atom.xml">
</head>
