// Masthead
//
// Super small header above the content for site name and short description.

.header {
  grid-area: header;
}

.header-title {
  margin-top: 0;
  margin-bottom: 0;
  color: $gray-4;
  display: inline-block;
  float: left;

  a {
    color: inherit;
  }

  small {
    font-size: 75%;
    font-weight: 400;
    opacity: .5;
  }
}

.header {
  nav {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      float: right;
    }

    li { 
      display: inline-block;
      padding-left: 1rem;
    }

    a {
      display: block;
      font-size: 75%;
      font-weight: 400;
      color: inherit;
      opacity: .5;
      text-decoration: none;
    }

    .current {
      border-bottom: thin solid;
    }
  }
}
