// Layout
//
// Styles for managing the structural hierarchy of the site.

.container {
  max-width: $container-width;
  margin-left:  auto;
  margin-right: auto;
  min-height: 100%;

  display: grid;
  // position: relative;
  grid-template-areas: 
    "header"
    "content"
    "footer";

  main {
    grid-area: "content";
    display: grid;
    grid-template-columns: 1fr;
  }

  .content {
    display: inline;
  }

  .sidebar {
    width: $sidebar-width;

    a {
      color: inherit;
    }
  }

  @media (max-width: $large-breakpoint) {
    .sidebar {
      position: relative;
      width: 100%;
      top: 0;
      margin-bottom: 1em;
      border-top: solid;
    }

    .content {
      padding-right: 0;
    }
  }
}

footer {
  grid-area: "footer";
  height: $footer-height;
  bottom: 0;
  margin-bottom: 1rem;
  width: 100%;
  text-align: center;
}
