// Layout
//
// Styles for managing the structural hierarchy of the site.

.container {  
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

  padding: 2ch;
  margin: auto;

  min-height: 100vh;
  max-width: $max-width;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: $header-height 1fr $footer-height;
  grid-template-areas: 
    "header"
    "main"
    "footer";

  grid-gap: 1ch;
}

main {
  grid-area: main;
  width: 100%;
}

.blog {
  display: grid;
  grid-gap: 5ch;
  grid-template-columns: minmax(0, $content-width) $sidebar-width;
  grid-template-areas:
    "content sidebar";

  @media (max-width: $large-breakpoint) {
    grid-template-columns: 1fr;
    grid-template-areas:
    "content"
    "sidebar";
  }
}

.content {
  grid-area: content;
}

.sidebar {
  grid-area: sidebar;
  a {
    color: inherit;
  }
}

footer {
  grid-area: footer;
  text-align: center;
}
