<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
  	<div class="container">
  		<header class="header">
        <h3 class="header-title">
          <a href="{{ site.baseurl }}/" title="Home">{{ site.author.name }}</a>
        </h3>
        <nav>
          <ul>
            {% for item in site.data.navlist.pages %}
            {%- assign pagename = item.title | downcase -%}
            <li><a href="{{ item.url }}" alt="{{ item.title }}" class="{% if page.url contains item.url %}current{% endif %}">{{ item.title }}</a></li>
            {% endfor %}
          </ul>
        </nav>
      </header>
  		
  		<main>
  			{{ content }}
  		</main>

  		<footer class="footer">
  			<small>
  				&copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time> {{ site.author.name }}. All rights reserved.
  			</small>
  		</footer>
  	</div>
  </body>
  <script src="/analytics.js"></script>
  <noscript>
    <img src="https://case.dedmonson.com/analytics/log?location={{ page.url }}&status={% if page.url contains '404' %}404{% else %}200{% endif %}" style="display: none;" />
 </noscript>
</html>
